<link
  href="https://fonts.googleapis.com/css?family=Roboto:100,300,400"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/app.css" />
<div class="flex-container">
  <div class="container">
    <h1>WELCOME!!!</h1>
    <p class="lead">
      Congratulations!!! You have participated in our community along with
      <strong><%= numUsers %></strong> members all over the world
    </p>
  </div>
</div>
